* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

html, body {
  background: #FFFAFF; }

#container {
  background-color: #FFFAFF;
  display: flex;
  flex-direction: column;
  height: 100vh; }

#form-container {
  margin: auto;
  width: 30%;
  color: #1E1B18; }

.flex-item {
  display: flex;
  justify-content: flex-end;
  padding: 0.5em; }

.flex-item > label {
  padding: 0.5em 1em .5em 0;
  flex: 1;
  font-weight: bold; }

.flex-item > input[type="text"], textarea, select, input[type="email"] {
  flex: 5;
  border-radius: 25px;
  padding: 1.0em;
  border: thin solid black;
  opacity: 0.9;
  background: white; }

input[type="submit"], input[type="reset"] {
  padding: 0.5em 1.5em;
  border-radius: 25px;
  color: white;
  background: black;
  font-weight: bold; }

/*input[type="submit"]:hover, input[type="reset"]:hover {
	color: black;
	background: $offWhite; 
	cursor: pointer;
}*/
/*.button {
	//margin-top: 0; 
	//position: absolute;
	-ms-transform: translateX(20%);
	transform: translateX(20%);
}*/
.flex-logos {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap; }

.flex-logos img {
  margin: 1.0em 0.5em; }

footer {
  background-color: #1E1B18;
  padding: 1.0em;
  font-family: "Roboto", sans-serif; }

footer p {
  color: #FFFAFF;
  text-align: center;
  font-size: 0.8rem; }

nav {
  font-size: 1.5rem;
  font-family: "Roboto", sans-serif;
  background: #1E1B18;
  height: 7vh;
  padding: 1.0em;
  color: white;
  position: relative;
  z-index: 2;
  width: 100%; }
  nav li {
    display: inline;
    text-decoration: none;
    margin-left: 1.0em; }
  nav li a {
    color: white;
    text-decoration: none; }
  nav li a:link, nav a:visited {
    color: white; }

a:link, a:visited {
  color: white;
  text-decoration: none; }

a:hover {
  opacity: 0.7;
  cursor: pointer; }

@media only screen and (max-width: 600px) {
  #form-container {
    margin: auto;
    width: 80vw; }

  nav li a {
    display: flex;
    flex-direction: column;
    padding: 0; }

  .flex-item > input[type="text"], textarea, select, input[type="email"] {
    flex: 3;
    padding: 1.0em;
    margin: 0; }

  .button {
    -ms-transform: translateX(10%);
    transform: translateX(10%); } }
